build
out
test-output
target/
classes/
/var
test-output/
temp-testng-customsuite.xml
/atlassian-ide-plugin.xml
hotspot.log
pom.xml.versionsBackup
.gradle
.idea
*.iml
.DS_Store
*.ipr
*.iws
.gradle/
.classpath
.settings
.project
.externalToolBuilders
*~
