name: Unit Tests
on:
  push:
    branches:
      - master
  pull_request:
env:
  GOOGLE_CLOUD_PROJECT: ${{ secrets.GOOGLE_CLOUD_PROJECT }}
  GOOGLE_STORAGE_BUCKET: ${{ secrets.GOOGLE_CLOUD_PROJECT }}

jobs:
  unit_tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        java: [1.8, 1.11]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Set Application Default Credentials
      run: echo "GOOGLE_APPLICATION_CREDENTIALS=${HOME}/credentials.json" >> $GITHUB_ENV
    - run: echo ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_B64 }} | base64 --decode >> $GOOGLE_APPLICATION_CREDENTIALS

    - if: secrets.GOOGLE_APPLICATION_CREDENTIALS_B64 == ''
      run: |
        echo "MAVEN_FLAGS=\"-Dmaven.test.skip=true\"" >> $GITHUB_ENV
        echo "GRADLE_FLAGS=\"-x test\"" >> $GITHUB_ENV

    - name: App Engine (Ktor) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build ${{env.GRADLE_FLAGS}}
        build-root-directory: appengine/ktor
        wrapper-directory: appengine/ktor

    - name: App Engine (Springboot) - Maven
      run: |
        cd ${GITHUB_WORKSPACE}/appengine/springboot
        ./mvnw install -q ${{env.MAVEN_FLAGS}}

    - name: Firestore - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build ${{env.GRADLE_FLAGS}}
        build-root-directory: firestore
        wrapper-directory: firestore

    - name: Functions - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: functions
        wrapper-directory: functions

    - name: Getting Started Android (frontend) - Gradle
      run: |
        cd ${GITHUB_WORKSPACE}/getting-started/android-with-appengine/frontend
        echo ${{ secrets.GOOGLE_SERVICES_B64 }} | base64 --decode >> emojify/google-services.json
        ./gradlew build --console=plain --info ${{env.GRADLE_FLAGS}}

    - name: Getting Started Android (backend) - Maven
      run: |
        cd ${GITHUB_WORKSPACE}/getting-started/android-with-appengine/backend
        echo "storage.bucket.name = $GOOGLE_CLOUD_PROJECT.appspot.com" >> src/main/resources/application.properties
        ./mvnw install -q

    - name: Pubsub - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: pubsub
        wrapper-directory: pubsub

    - name: Cloud Run (gRPC) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/grpc-hello-world-gradle
        wrapper-directory: run/grpc-hello-world-gradle

    - name: Cloud Run (gRPC) - Maven
      run: |
        cd ${GITHUB_WORKSPACE}/run/grpc-hello-world-mvn
        ./mvnw install -q ${{env.MAVEN_FLAGS}}

    - name: Cloud Run (gRPC streaming) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/grpc-hello-world-streaming
        wrapper-directory: run/grpc-hello-world-streaming

    - name: Cloud Run (gRPC bidi-streaming) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/grpc-hello-world-bidi-streaming
        wrapper-directory: run/grpc-hello-world-bidi-streaming

    - name: Cloud Run (Ktor) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/ktor-hello-world
        wrapper-directory: run/ktor-hello-world

    - name: Cloud Run (Micronaut) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/micronaut-hello-world
        wrapper-directory: run/micronaut-hello-world

    - name: Cloud Run (Quarkus) - Maven
      run: |
        cd ${GITHUB_WORKSPACE}/run/quarkus-hello-world
        ./mvnw install -q ${{env.MAVEN_FLAGS}}

    - name: Cloud Run (Spring Boot) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/springboot-hello-world
        wrapper-directory: run/springboot-hello-world

    - name: Cloud Run (Http4k) - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: run/http4k-hello-world
        wrapper-directory: run/http4k-hello-world

    - name: Cloud Run (Plain) - Maven
      run: |
        cd ${GITHUB_WORKSPACE}/run/plain-hello-world
        ./mvnw install -q ${{env.MAVEN_FLAGS}}

    - name: Storage - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: storage
        wrapper-directory: storage

    - name: Vision - Gradle
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: build --console=plain --info ${{env.GRADLE_FLAGS}}
        build-root-directory: vision
        wrapper-directory: vision

